<link rel="stylesheet" href="/styles/styles.css">
    <div class="main">
        <div class="left">
            <div class="welcomeIntro">
                <h1>facebook</h1>
                <h2>Facebook helps you connect and share with the people in your life.</h2>
            </div>  
        </div>
        <div class="right">
            <div class="DivForm">
            <form action="/login/user" method="post">
                <input type="text" placeholder="Email address or phone number" name="userUnique">
                <input type="password" placeholder="Password">
                <button type="submit" id="login">Log In</button>
                <a id="forgotpassword" href="">Forgotten password?</a>
                <hr>
               <a href="/signup/createuser"> <label for="toggle"><button id="CreateAccount" type="button">Create New Account</button></label></a>
            </form>
            </div>            
        </div>
    </div>
<script src="/js/home.js"></script>